body{
  background-image: url(background.jpg);
  background-size: 100%;
  background-color: white;
}
.Quadrato{
  width: 1000px;
  height: 712px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 1%;
  margin: auto;
}
img{
  width: 150px;
  margin-top: 130px;
  margin-left: 400px;
}
h1{
  text-align: center;
  color: #68c81f;
}
.rectangle{
  width: 600px;
  height: 30px;
  background-color:#68c81f ;
  margin-left: 200px;
}
#Prenota{
  margin-left: 150px;
  margin-top: 5px;
}

#MonopattinoGino{
  margin-left: 200px;
}
#M22{
  color: white;
}
p{
  margin-left: 200px;
  color: white;
}
.Rettangolo-Arancione{
  width: 200px;
  height: 20px;
  background-color:#FF8000 ;
  margin-left: 200px;
  border-radius: 1%;
}
.Rettangolo-verde{
  width: 400px;
  height: 20px;
  background-color:#68c81f ;
  margin-left: 200px;
  border-radius: 1%;
}
.Rettangolo-rosso{
  width: 100px;
  height: 20px;
  background-color:#ff0000 ;
  margin-left: 200px;
  border-radius: 1%;
}
